<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<h1 th:text="${pesho}"></h1>

<form action="/students/create" method="post">
    <input type="text" name="name"/>
    <input type="number" name="willToLive"/>
    <button type="submit">Submit</button>
</form>

</body>
</html>