<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--<link rel="stylesheet" href="style.css">-->

</head>
<body>



    <h1 th:text="|All suppliers that are ${type}|"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Number of parts</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="supplier : ${suppliers}" th:object="${supplier}">
            <tr>
                <td th:text="*{getId()}"></td>
                <td th:text="*{getName()}"></td>
                <td th:text="*{getNumberOfParts()}">
            </tr>
        </th:block>
        </tbody>
    </table>

</body>
</html>




