<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Sales</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--<link rel="stylesheet" href="style.css">-->

</head>
<body>



    <h1 th:text="|Customer with name ${customer.getName()} bought ${customer.getCarsCount()} cars and spent ${customer.getSpentMoney()} dollars|"></h1>

</body>
</html>




